{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container my-3">
  <div class="main-body">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'board:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div>
                {% if profile_user.profile.avatar %}
                <img class="round" src="{{profile_user.profile.avatar.url}}" width="200" /> <br />
                {% else %}
                <img class="round" src="{{baseUrl}}/images/avatas/default.png" width="200" />
                <br />
                {% endif %}
              </div>

              <div class="mt-3">
                <h4>{{profile_user.username}}</h4>
                <p class="text-secondary mb-1">{{profile_user.email}}</p>
                <p class="text-muted font-size-sm">{{profile_user.profile.address}}</p>
                <!-- 팔로우 버튼 start-->
                {% if user.is_authenticated %} {% if profile_user.username != user.username %} {% if user in profile_user.followers.all %}
                <a href="{% url 'users:follow' profile_user.username %}">
                  <button class="btn btn-outline-info">언팔로우</button>
                </a>
                {% else %}
                <a href="{% url 'users:follow' profile_user.username %}">
                  <button class="btn btn-info">팔로우</button>
                </a>
                {% endif %} {% endif %} {% endif %}
                <!-- 팔로우 버튼 end-->
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">Github
              </h6>
              <a href="{{profile_user.profile.Git_url}}" target="_blank" class="text-secondary">{{profile_user.profile.Git_url}}</a>
            </li>
            <li class="list-group-item justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                Twitter
              </h6>
              <a href="{{profile_user.profile.Twit_url}}" target="_blank" class="text-secondary">{{profile_user.profile.Twit_url}}</a>
            </li>
            <li class="list-group-item justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">Instagram
              </h6>
              <a href="{{profile_user.profile.Ins_url}}" target="_blank" class="text-secondary">{{profile_user.profile.Ins_url}}</a>
            </li>
            <li class="list-group-item justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                Facebook
              </h6>
              <a href="{{profile_user.profile.face_url}}" target="_blank" class="text-secondary">{{profile_user.profile.face_url}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{profile_user.username}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{profile_user.email}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{profile_user.profile.phone}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{profile_user.profile.Mobile}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{profile_user.profile.address}}</div>
            </div>
            <hr />
            <div class="row">
              {% if profile_user.username == user.username %}
              <div class="col-sm-12">
                <a class="btn btn-info" href="{% url 'users:profile_update' %}">Edit</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- 팀원 표시 -->
        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">following</i></h6>
                <!-- 팔로워 표시 -->
                {% if user.followings.all %}
                <ul class="list-group">
                  {% for user in profile_user.followings.all %}
                  <li class="list-group-item"><a href="{% url 'users:profile' user.pk %}">{{user.username}}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">followers</i></h6>
                <!-- 팔로워 표시 -->
                {% if user.followers.all %}
                <ul class="list-group">
                  {% for user in profile_user.followers.all %}
                  <li class="list-group-item"><a href="{% url 'users:profile' user.pk %}">{{user.username}}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
